# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.metadata
study/.cproject
study/.project
study/Debug/
RemoteSystemsTempFiles
